<footer class="bg-dark text-light py-5 mt-5" style="border: 1px solid #ffffff25;" id="contact-info">
    <div class="container">
        <div class="row">
            <!-- Columna de Información del Portafolio -->
            <div class="col-md-4 mb-4">
                <h5>Sobre mí</h5>
                <p>Apasionado desarrollador web enfocado en crear soluciones tecnológicas efectivas e innovadoras.</p>
            </div>

            <!-- Columna de Redes Sociales -->
            <div class="col-md-4 mb-4">
                <h5>Redes sociales</h5>
                <ul class="list-unstyled d-flex">
                    <li class="me-3">
                        <a href="https://www.linkedin.com/in/leonardos4enz/" target="_blank" class="text-light" aria-label="LinkedIn"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li class="me-3">
                        <a href="https://www.github.com/leonardos4enz/" target="_blank" class="text-light" aria-label="GitHub"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>

            <!-- Columna de Contacto Directo -->
            <div class="col-md-4 mb-4">
                <h5>Contacto directo</h5>
                <ul class="list-unstyled d-flex">
                    <li class="me-3">
                        <a href="https://wa.me/5218110375798" target="_blank" class="text-light" aria-label="WhatsApp"><i class="fab fa-whatsapp fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="mailto:leonardorsaenz@gmail.com" class="text-light" aria-label="Correo electrónico"><i class="fas fa-envelope fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="bg-light">

        <!-- Derechos de autor -->
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">&copy; 2024 Leonardo Sáenz. Todos los derechos reservados. | <a href="/politica-privacidad.html" class="text-light">Política de privacidad</a></p>
            </div>
        </div>
    </div>
</footer>
